<!doctype html>
<html lang="en">
  <head>

    <title>
      {% block title %}
      {% endblock %}
    </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- TOGGLE BUTTON -->
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

    <!-- HIGH CHARTS IMPORTS -->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <style>
      body {
          padding-top: 60px;
        }
        @media (max-width: 979px) {
          body {
            padding-top: 0px;
          }
      }
    </style>

  </head>
  <body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-sm bg-light navbar-dark fixed-top">
        <a class="navbar-brand"
          href="{{ url_for( 'index' ) }}">
          <h1>💱
            <small class="font-weight-lighter text-dark">FOREX</small>
          </h1>
        </a>
        <ul class="navbar-nav mr-auto">

          <li class="nav-item">

            {% if "stream" in request.path %}
            <a class="font-weight-lighter text-success nav-link" href="{{ url_for('stream', choice='highcharts') }}">stream</a>
            {% else %}
            <a class="font-weight-lighter text-dark nav-link" href="{{ url_for('stream', choice='highcharts') }}">stream</a>
            {% endif %}

          </li>

          <li class="nav-item">

            {% if request.path == '/new_tab' %}
            <a class="font-weight-lighter text-success nav-link" href="{{ url_for('new_tab') }}">new_tab</a>
            {% else %}
            <a class="font-weight-lighter text-dark nav-link" href="{{ url_for('new_tab') }}">new_tab</a>
            {% endif %}

          </li>





    </ul>
          <!-- NAV DROPDOWN -->
{% if "stream" in request.path %}
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown dropleft">
            <!-- WITHOUT INERT HREF YOU HAVE TO STYLE THE CURSOR -->
            <a class="nav-link dropdown-toggle font-weight-lighter text-dark" data-toggle="dropdown" href="#">toggle charts</a>
            <div class="dropdown-menu">
              {% for cp, title in currency_pairs.items() %}
                  <a class="dropdown-item font-weight-light py-2" id="toggle_{{ cp }}" href="#">{{ cp.upper() }} ({{ title }})</a>
              {% endfor %}
            </div>
          </li>

          <li class="pl-4">
            <input id="switch" type="checkbox" checked data-toggle="toggle" data-on="Highcharts" data-off="Bokeh" data-onstyle="info" data-offstyle="success">
          </li>

        </ul>
    {% endif %}
    </nav>
    <!-- CONTENT -->
    <main id="content" role="main" class="container-fluid p-4 bg-dark">

    {% block content %}
    {% endblock %}

    <script type="text/javascript">
      $(function () {
        $("#switch").change(function() {
          if (window.location.pathname=='/stream/highcharts') {
            // load the bokeh page
            window.location.pathname = 'stream/bokeh';

          } else if (window.location.pathname=='/stream/bokeh') {
            // load the high charts page
            window.location.pathname = 'stream/highcharts';

          }
        })
      })
    </script>

    </main>
  </body>
</html>
