{% extends 'layouts/main.html' %}
{% block title %}
💱 FOREX
{% endblock %}
{% block content %}
<div id="alert" class="alert alert-danger font-weight-light"></div>
{% for cp in currency_pairs.keys() %}

  <div id="row_{{ cp }}" class="row pl-3 pb-3">

    <div class="col-2  bg-light card">

      <div class="card-body">
        <h2 id="current_{{ cp }}" class="card-text text-center font-weight-lighter pt-4"></h2>
        <h4 id="delta_{{ cp }}" class="card-text"></h4>
        <p id="closed_{{ cp }}" class="card-text"></p>
      </div>

      <div class="card-footer text-center bg-light">
        <h3 id="footer_{{ cp }}" class="font-weight-lighter">{{ cp.upper() }}</h3>
      </div>

    </div>

    <div id="{{ cp }}"    class="col-10"></div>
  </div>

{% endfor %}

<script>
  // HIDE THE ALERT BY DEFAULT
  $("#alert").hide();

  var card_class_dict = {
    true: {
      "card_class":"card-text text-center font-weight-lighter text-success",
      "new_color": "green",
      "arrow": "▲"
    },
    false: {
      "card_class":"card-text text-center font-weight-lighter text-danger",
      "new_color": "red",
      "arrow": "▼"
    }
  }

  function request_data() {
    var requests = $.get('/data/bokeh');
    requests.done(
      function (result) {
        if (result.closed) {
          console.log('market closed')
          clearInterval(chartdata);
          $("#alert")
            .html("Forex Trading is available 24 hours a day from 10:00 PM UTC Sunday to 9:00 PM UTC on Friday. Charts aren\'t live.")
            .show();
        }

        {% for cp in currency_pairs.keys() %}
          var formats = card_class_dict[result.{{ cp }}.increasing];

          $("#{{ cp }}").empty();

          item = JSON.parse(result.{{ cp }}.data);
          Bokeh.embed.embed_item(item);

          // UPDATE CARD
          $('#delta_{{ cp }}')
            .removeClass()
            .addClass(
              formats['card_class']
            )
            .html(
              formats["arrow"].concat(result.{{ cp }}.delta)
            );

          $('#current_{{ cp }}').html(result.{{ cp }}.last_val);

        {% endfor %}
      }
    );
  }

  request_data();
  interval = setInterval(request_data, 30000)
</script>
{% endblock %}
