{% extends 'layouts/main.html' %}
{% block title %}
💱 forex
{% endblock %}
{% block content %}
<div id="alert" class="alert" role="alert"></div>
{% for cp in currency_pairs.keys() %}

  <div id="row_{{ cp }}" class="row pl-3 pb-3">

    <div class="col-2  bg-light card">

      <div class="card-body">
        <h2 id="current_{{ cp }}" class="card-text"></h2>
        <h4 id="delta_{{ cp }}" class="card-text"></h4>
        <p id="closed_{{ cp }}" class="card-text"></p>
      </div>

      <div class="card-footer text-center bg-light">
        <h3 id="footer_{{ cp }}" class="font-weight-lighter">{{ cp.upper() }}</h3>
      </div>

    </div>

    <div id="{{ cp }}" class="col-10"></div>
  </div>

{% endfor %}
<script type="text/javascript">
  $("#alert").hide();
  {% for cp in currency_pairs.keys() %}
    var chart_{{ cp }};
  {% endfor %}

  var card_class_dict = {
    true: {
      "card_class":"card-text text-center font-weight-lighter text-success",
      "new_color": "green",
      "arrow": "▲"
    },
    false: {
      "card_class":"card-text text-center font-weight-lighter text-danger",
      "new_color": "red",
      "arrow": "▼"
    }
  }

  function request_data() {
    var requests = $.get('/data');
    requests.done(
      function (result) {
        if (result.closed) {
          clearInterval(chartdata);
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for cat, msg in messages %}
                $("#alert")
                .removeClass()
                .addClass("alert alert-{{  cat }} font-weight-light")
                .html("{{  msg }}")
                .show();
              {% endfor %}
            {% endif %}
          {% endwith %}
          // window.location.href = "{{ url_for('closed' )}}";
        }

        {% for cp in currency_pairs.keys() %}

          var formats = card_class_dict[result.{{ cp }}.increasing];

          // UPDATE CHART DATA
          chart_{{ cp }}.series[0].setData(result.{{ cp }}.data);

          // UPDATE CHART PROPERTIES
          chart_{{ cp }}.series[0].update({
            color: formats["new_color"],
            lineColor: formats["new_color"]
          });

          // UPDATE CARD
          $('#delta_{{ cp }}')
            .removeClass()
            .addClass(
              formats['card_class']
            )
            .html(
              formats["arrow"].concat(result.{{ cp }}.delta)
            );

          $('#current_{{ cp }}')
            .removeClass()
            .addClass(
              "card-text text-center font-weight-lighter pt-4"
            )
            .html(
              result.{{ cp }}.last_val
            );

        {% endfor %}
      }
    );
  }

  request_data();
  var chartdata = setInterval(request_data, 10000)

  $(document).ready(
    function(){
      // what tz should view be in?
      const timezone = new Date().getTimezoneOffset()
      Highcharts.setOptions({
        global: {
          timezoneOffset: timezone
        }
      }
    );
    {% for cp in currency_pairs.keys() %}
    chart_{{ cp }} = new Highcharts.Chart(
      {
        chart: {
          height: 230,
          backgroundColor: '#f8f9fa',
          type:'line',
          animation: true,
          marginRight: 10,
          renderTo: '{{ cp }}'
        },


        tooltip: {
          xDateFormat: '%A, %b %e, %l:%M:%S %P',
          backgroundColor: '#343a40',
          style: {
            color: 'white'
          }
        },

        title: {
          text: undefined
        },

        xAxis: {
          type: 'datetime',
          labels: {
            formatter: function() {
              return Highcharts.dateFormat('%l:%M:%S %P', this.value);
            },
            style: {
              fontSize: 8
            }
          }
        },

        yAxis: {
          title: {
            text: undefined,
          },
          gridLineColor: 'darkgray',
          gridLineWidth: .5,
          labels: {
            enabled: true,
            style: {
              fontSize: 10
            }
          }
        },
        legend: {
          enabled: false
        },
        plotOptions: {
          series: {
            marker: {
              enabled: false
            }
          }
        },

        series: [
          {
            lineWidth: 1,
            name: '{{ cp.upper() }}',
            allowPointSelect: true,
            data: [],
            marker: {
              enabled: false
            },
          }
        ]
      }
    );
    {% endfor %}
    }
  );
</script>
{% endblock %}
